@page
@model Auction_System.Pages.Shared.Seller.IndexModel

@* @{
    ViewData["Title"] = "Index";
} *@



<p>
    <a asp-page="Create">Create New</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].StartingPrice)
            </th>
           
            
            <th>
                @Html.DisplayNameFor(model => model.Item[0].CreatedAt)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Item[0].ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Category)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Item[0].AuctionEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].AuctionDate)

            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingPrice)
            </td>
           
            
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
          
            <td>
                @if (!string.IsNullOrEmpty(item.ImagePath)) 
                {
                    <img src="@item.ImagePath" alt="Item Image" width="100"/>
                }
                else 
                {
                    <span>No Image</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.AuctionEvent.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuctionEvent.AuctionDate.ToString())
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@



<h1>My Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Image:</th>
            <th>Category</th>
            <th>Description</th>
            <th>Starting Price</th>
            <th>Starting Time</th>
            <th>Ending Time</th>
            <th>Auction Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item)
        {
            <tr>
                <td>@item.Title</td>
                <td>
                    <img src="@item.ImagePath" alt="No Image" width="100"/>
                </td>
                <td>@item.Category?.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.StartingPrice.ToString("C")</td>
                <td>@item.StartingTime.ToShortTimeString()</td>
                <td>@item.EndingTime.ToShortTimeString()</td>
                <td>@item.AuctionDate.ToShortDateString()</td>
               @*  <td>@item.AuctionEvent?.AuctionDate?.ToShortDateString()</td> *@
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

