 @page
@model Auction_System.Pages.Buyer.ViewItemsModel
@using Microsoft.AspNetCore.Identity
@using Auction_System.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="container mt-3">
    <h4 class="fw-bold">Top Deals | Shop Now</h4>

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-3">
        @foreach (var item in Model.Items)
        {


            <a asp-page="/Buyer/Details" asp-route-id="@item.Id" class="">
            <div class="col">
                <div class="product-card shadow-sm">
                   @*  <!-- Discount Badge -->
                    @if (item.Discount > 0)
                    {
                        <span class="discount-badge">@item.Discount% OFF</span>
                    } *@

                    <!-- Product Image -->
                    <div class="product-image">
                        <img src="@item.ImagePath" class="img-fluid" alt="@item.Title">
                    </div>

                    <!-- Product Info -->
                    <div class="product-info p-2">
                        <p class="product-title">@item.Title</p>
                        <p class="product-price">Starting Price: KSh @item.StartingPrice.ToString("N0")</p>
                       @*  @if (item.OldPrice > item.Price)
                        {
                            <p class="product-old-price">KSh @item.OldPrice.ToString("N0")</p>
                        } *@
                    </div>

                   @*  <!-- Hover Add to Watchlist -->
                    <div class="watchlist-overlay">
                        <button class="btn btn-warning btn-sm">+ Watchlist</button>
                    </div> *@
                </div>
            </div>
            </a>
        }
    </div>
</div>
<nav>
    <ul class="pagination">
        <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
            <a class="page-link" asp-page="./ViewItems" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" asp-page="./ViewItems" asp-route-pageIndex="@i">@i</a>
            </li> 
        }
        <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" asp-page="./ViewItems" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
        </li>
    </ul>
</nav>  



